<script type="text/javascript">
    RED.nodes.registerType('concore-amqp',{
        category: 'concore',
        color: '#C90',
        defaults: {
           name: {value:""},
           config: {value:"", type:"concore-amqp-config", required: true},
           appId: { value: "datacoreMaster", required: true },
           queue: { value: "", required: true },
           molecule: { value: "#" }
        },
        inputs:0,
        outputs:1,
        icon: "queue@2x.png",
        label: function() {
            return this.name || this.queue + ' ' + this.molecule;
        }
    });
</script>

<script type="text/x-red" data-template-name="concore-amqp">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-config"><i class="icon-tag"></i> Amqp Config</label>
        <input type="text" id="node-input-config" placeholder="Config">
    </div>
    <div class="form-row">
        <label for="node-input-appId"><i class="icon-tag"></i> Organization Id</label>
        <input type="text" id="node-input-appId" placeholder="Organization Id">
    </div>
    <div class="form-row">
        <label for="node-input-queue"><i class="icon-tag"></i> Event Name</label>
        <input type="text" id="node-input-queue" placeholder="Event Name">
    </div>
    <div class="form-row">
        <label for="node-input-molecule"><i class="icon-tag"></i> Molecule Name</label>
        <input type="text" id="node-input-molecule" placeholder="Molecule Name">
    </div>
</script>

<script type="text/x-red" data-help-name="concore-amqp">
    <p>Estabelece uma conexão com o servidor AMQP do Concore para receber eventos de criação e edição de moléculas.</p>
    <p>Os Evento disponíveis são:</p>
    <ul>
        <li>molecule_created</li>
        <li>molecule_updated</li>
        <li>molecule_deleted</li>
        <li>molecule_restored</li>
    </ul>
</script>