<script type="text/javascript">
    RED.nodes.registerType('concore-middleware',{
        category: 'concore',
        color: '#3FADB5',
        defaults: {
            name: {value:""},
            config: {value:"", type:"concore-config"}
        },
        inputs:1,
        outputs:1,
        icon: "concore@2x.png",
        label: function() {
            return this.name || "SDK";
        }
    });
</script>

<script type="text/x-red" data-template-name="concore-middleware">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-config"><i class="icon-tag"></i> Concore Config</label>
        <input type="text" id="node-input-config" placeholder="Config">
    </div>
</script>

<script type="text/x-red" data-help-name="concore-middleware">
    <p>Este nó inicializa o SDK concore dentro da propriedade msg.Concore.</p>
    <p>Você pode utilizar este nós de duas formas.</p>
    <ol>
        <li>Configurando as chaves, usuário e senha no nó de configuração, assim toda vez que uma mensagem passar por este nó, ele irá inicializar o SDK com o usuário definido logado.</li>
        <li>Configurando as chaves, porém sem usuário e senha, desta forma o SDK é inicializo mas sem usuário logado.</li>
    </ol>

    <p>Caso você envie a propriedade msg.req.headers['concore-session-token'] ela será usada para fazer o login com o token enviado, isso serve para poder executar fluxos em nome do usuário que fez a solicitação.</p>
    <p>Dica: Quando você utilizar o método Concore.request().get('url') o SDK envia automaticamente o session token do usuário nesta propriedade.</p>
</script>