<script type="text/javascript">
    RED.nodes.registerType('concore-amqp-config',{
        category: 'config',
        defaults: {
            host: {type:"text", value:"localhost",required:true},
            port: {type:"text", value: "5672", required: true},
            user: {type:"text", required: true},
            password: {type:"text", required: true},
        },
        label: function() {
            return this.user + ":*****@" + this.host + ":" + this.port;
        }
    });
</script>

<script type="text/x-red" data-template-name="concore-amqp-config">
    <div class="form-row">
        <label for="node-config-input-host"><i class="icon-external-link"></i> Host</label>
        <input type="text" id="node-config-input-host">
    </div>
    <div class="form-row">
        <label for="node-config-input-port"><i class="icon-tag"></i> Port</label>
        <input type="text" id="node-config-input-port">
    </div>
    <div class="form-row">
        <label for="node-config-input-user"><i class="icon-tag"></i> Username</label>
        <input type="text" id="node-config-input-user">
    </div>
    <div class="form-row">
        <label for="node-config-input-password"><i class="icon-tag"></i> Password</label>
        <input type="password" id="node-config-input-password">
    </div>
</script>

<script type="text/x-red" data-help-name="concore-config">
    <p>Configuration amqp connection.</p>
</script>