<script type="text/javascript">
    RED.nodes.registerType('concore-config',{
        category: 'config',
        defaults: {
            host: {value:"https://api.concore.io/api",required:true},
            appId: {type:"text", required: true},
            apiKey: {type:"text" , required: true},
            user: {type:"text" , required: false},
            password: {type:"password" , required: false}
        },
        label: function() {
            return this.host + " " +this.appId + " " + this.apiKey;
        }
    });
</script>

<script type="text/x-red" data-template-name="concore-config">
    <div class="form-row">
        <label for="node-config-input-host"><i class="icon-external-link"></i> Host</label>
        <input type="text" id="node-config-input-host">
    </div>
    <div class="form-row">
        <label for="node-config-input-appId"><i class="icon-tag"></i> appId</label>
        <input type="text" id="node-config-input-appId">
    </div>
    <div class="form-row">
        <label for="node-config-input-apiKey"><i class="icon-tag"></i> apiKey</label>
        <input type="text" id="node-config-input-apiKey">
    </div>
    <div class="form-row">
        <label for="node-config-input-user"><i class="icon-tag"></i> Usuário</label>
        <input type="text" id="node-config-input-user">
    </div>
    <div class="form-row">
        <label for="node-config-input-password"><i class="icon-tag"></i> Senha</label>
        <input type="password" id="node-config-input-password">
    </div>
</script>

<script type="text/x-red" data-help-name="concore-config">
    <p>Configuration node to provie login information.</p>
</script>