<script type="text/javascript">
    RED.nodes.registerType('molecule',{
        category: 'concore',
        color: '#2e8f9f',
        defaults: {
            name: {value:""},
            moleculoid: {value: "", required: true}
        },
        inputs:1,
        outputs:1,
        icon: "molecule@2x.png",
        label: function() {
            return this.name||"molecule";
        }
    });
</script>

<script type="text/x-red" data-template-name="molecule">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-moleculoid"><i class="icon-tag"></i> Moleculoid name</label>
        <input type="text" id="node-input-moleculoid" placeholder="Person">
    </div>
</script>

<script type="text/x-red" data-help-name="molecule">
    <p>Recebe um objeto simples, chave e valor e cria uma molécula.</p>
    <p>msg.payload: objecto chave valor para criação da molécula. Se o objeto recebido possuir a propriedade atoms tenta inflar o objeto e atualiza-lo ao invés de criar um novo.</p>
</script>