<script type="text/javascript">
    RED.nodes.registerType('pushNotification',{
        category: 'concore',
        color: '#ccc',
        defaults: {
           config: {value:"", type:"concore-config"}
        },
        inputs:1,
        outputs:1,
        icon: "push.svg",
        label: 'push notification'
    });
</script>

<script type="text/x-red" data-template-name="pushNotification">
    <div class="form-row">
        <label for="node-input-title"><i class="icon-tag"></i> Title</label>
        <input type="text" id="node-input-title" placeholder="Title of Message">
    </div>
    <div class="form-row">
        <label for="node-input-config"><i class="icon-tag"></i> Concore Config</label>
        <input type="text" id="node-input-config" placeholder="Config">
    </div>
</script>

<script type="text/x-red" data-help-name="pushNotification">
    <p>Recieves a list of users, the title of message and message and sedn push notifications</p>
    <p>msg.payload: expects a json object with a simple key:value notation.</p>
</script>